node_modules
.git
**/node_modules
**/.gitignore
**/*.md
**/dist
**/out
**/.next
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
websites/portfolio
websites/resume-builder
websites/recipe-website/*/content
websites/recipe-website/*/test-content
**/.cypress