@import "tailwindcss";
@source "../../node_modules/recipe-website-common/components";
@source "../../node_modules/component-library/components";

html,
body {
  @apply text-slate-100;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

body {
  color: rgb(var(--foreground-rgb));
}
